@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html,
body {
  margin: 0;
  height: 100vh;
}

*::selection {
  color: white;
  background-color: black;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
}

header h1 {
  font-family: "Secular One", sans-serif;
  font-size: 40px;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 30px;
  }
}

header h1 a:hover {
  background-color: #eee;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

footer > p > a {
  padding: 0.2em;
}

footer > p > a,
footer > p > a:active,
footer > p > a:visited {
  color: #019166;
}

footer > p > a:hover {
  background-color: #ddd;
}

.startBtn {
  display: block;

  padding: 0.8em;
  margin-bottom: 1rem;

  width: min(500px, calc(100vw - 4rem));

  border: 2px solid black;

  font-family: "Noto Sans", sans-serif;
}

.startBtn p {
  margin: 0.25em 0 0.5em;
  font-size: 22px;
}

.startBtn span {
  color: gray;
  font-size: 18px;
}

.startBtn:hover {
  background-color: #ccc;
  cursor: pointer;
}

@media (max-width: 600px) {
  .startBtn p {
    font-size: 16px;
    margin: 2px 0 4px;
  }

  .startBtn span {
    font-size: 14px;
  }

  footer {
    font-size: 16px;
  }
}
