:root {
  --border-for-section: 2px solid black;
}

article#quizMain {
  display: none;
}

div#questionPart {
  margin-bottom: 2.5vh;
}

section#question {
  width: min(700px, calc(100vw - 4rem));
  height: 2.5em;

  /* background-color: #ddd; */
  border: var(--border-for-section);

  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;

  display: grid;
  place-items: center;
}

section#hintImg {
  margin: 0;
  height: min(190px, 20vh);

  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: grid;
  place-items: center;

  border-inline: var(--border-for-section);
  border-block-end: var(--border-for-section);

  img {
    width: min(400px, 60vw);
  }
}

section#answerTextSection {
  border: var(--border-for-section);
  height: 2.5em;

  display: grid;
  place-items: center;

  font-size: 28px;
  font-family: "Noto Sans", sans-serif;
}

section#answerImgSection {
  height: min(225px, 20vh);

  border-inline: var(--border-for-section);
  border-block-end: var(--border-for-section);

  display: grid;
  place-items: center;

  img#answerImg {
    width: min(400px, 60vw);
  }

  a#answerImgSourceLink {
    font-family: "Noto Sans", sans-serif;
    padding: 0.2em;
    text-decoration: 2px underline;

    &:hover {
      background-color: #ddd;
    }
  }
}

button#next {
  width: 100%;
  height: 5rem;

  outline: none;
  border: 1px solid black;
  background-color: #7df26f;

  margin-top: 2rem;

  font-size: 18px;

  &.showAnswer {
    background-color: #7df26f;
  }

  &.next {
    background-color: #f2f06f;
  }

  &:hover {
    cursor: pointer;

    &.showAnswer {
      // background-color: #6fd964;
      background-color: #75e66a;
    }

    &.next {
      background-color: #ebe96e;
    }
  }
}
