// import fonts
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&display=swap");

// import scss files
@import "./startOptions.scss";
@import "./quizMain.scss";

*::selection {
  color: white;
  background-color: black;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

html,
body {
  margin: 0;
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
}

footer {
  font-family: "Mulish", sans-serif;
  font-size: 16px;

  margin-top: 3rem;
}

footer > p > a {
  padding: 0.2em;
  color: #019166;

  &:active,
  &:visited {
    color: #019166;
  }

  &:hover {
    background-color: #ddd;
  }
}

header {
  display: grid;
  place-items: center;
  width: 100%;

  h1 {
    font-family: "Secular One", sans-serif;
    font-size: 40px;

    // margin-block: .75em;
    margin-block: 1em;

    a:hover {
      background-color: #eee;
    }
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 25px;
  }

  footer {
    font-size: 14px;
  }
}
